:root {
  // Color
  
  // Animated background
  --color-bg: #F0F3FF;
  --color-outer-circle: #836FFF;
  --color-inner-circle: #15F5BA;
  // Main cards
  --color-mint: #45FFCA;
  --color-main: #211951;
  // Sizing
  --spacing-small: 20px;
  --border-radius-regular: 7px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: var(--color-bg);
}

a {
  color: inherit;
  text-decoration: none;
}