:root {
  // Color
  // Default (dark) theme:
  // --color-bg-secondary: #18122b;
  --color-bg-secondary: #213a57;
  // --color-bg-main: #180161;
  --color-bg-main: #0b6477;
  --background-squares: rgba(255, 255, 255, 0.2);
  // --color-text: #F0F3FF;
  --color-text: #80ed99;


  --color-navy-light: #393053;
  --color-purple-dark: #443C68;
  --color-purple-light: #443C68;
  // light mode? color scheme:
  --color-light-purple: #4F1787;
  --color-light-pink: #EB3678;
  --color-light-orange: #FB773C;

  // Animated background
  --color-outer-circle: #836FFF;
  --color-inner-circle: #15F5BA;
  // Main cards
  --color-mint: #45FFCA;
  --color-main: #211951;
  // Sizing
  --spacing-small: 20px;
  --spacing-xsmall: 10px;
  --border-radius-regular: 7px;
  // Z-index
  --z-index-background: -10;
}

.light-theme {
  --color-bg-main: pink;
  // other color changes
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: var(--color-bg-main);
  transition: background-color 2s;
}

a {
  color: inherit;
  text-decoration: none;
}