:root {
  // Color
  // Default (dark) theme:
  // --color-bg-secondary: #18122b;
  --color-bg-secondary: #213a57;
  // --color-bg-main: #180161;
  --color-bg-main: #0b6477;
  --background-squares: rgba(255, 255, 255, 0.2);
  // --color-text: #F0F3FF;
  --color-text-secondary: #80ed99;
  --color-text: #45dfb1;

  --color-navy-light: #393053;
  --color-purple-dark: #443c68;
  --color-purple-light: #443c68;
  // light mode? color scheme:
  --color-light-purple: #4f1787;
  --color-light-pink: #eb3678;
  --color-light-orange: #fb773c;

  // Animated background
  --color-outer-circle: #836fff;
  --color-inner-circle: #15f5ba;
  // Main cards
  --color-mint: #45ffca;
  --color-main: #211951;
  // Sizing
  --spacing-big: 40px;
  --spacing-medium: 30px;
  --spacing-small: 20px;
  --spacing-xsmall: 10px;
  --spacing-xxsmall: 5px;
  --border-radius-regular: 7px;
  --gap-regular: 25px;
  // Z-index
  --z-index-background: -10;
}

.light-theme {
  --color-bg-main: pink;
  // other color changes
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  // font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-bg-main);
  transition: background-color 2s;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
