.main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

.main-container {
  display: grid;
  grid-template-rows: repeat(9,60px);
  grid-template-columns: repeat(9,80px);
  grid-gap: var(--spacing-small);
}

.main-container > * {
  position: relative;
  border-radius: var(--border-radius-regular);
  border-style: solid;
  overflow: hidden;
  color: var(--color-text);
  padding: var(--spacing-small);
  background-color: var(--color-bg-secondary);
  transition: transform .3s, box-shadow 2s;
}

.title {
  grid-row: 1 / 3;
  grid-column: 1 / 5;
  flex-direction: column;
  align-items: flex-start;

  h1, h2, h3 {
    display: flex;
  }
}

.experience {
  grid-row: 1 / 3;
  grid-column: 5 / 8;
}

.contacts {
  grid-row: 3 / 10;
  grid-column: 1 / 3;
  ul {
    list-style: none;
    margin-top: var(--spacing-big);
    display: flex;
    gap: var(--spacing-big);
    flex-direction: column;
  }
}

.me {
  grid-row: 3 / 8;
  grid-column: 3 / 8;
}
// .me:before {// transparent inner section
//   content:'';
//   position:absolute;
//   left: 25px;
//   bottom: 25px;
//   border-radius: var(--border-radius-regular);
//   border-style: solid;
//   color: var(--color-text);
  
//   width:190px; height:220px;
//   // width:190px; height:180px;

//   // box-shadow: 0px 0px 0px 300px var(--color-bg-secondary);
//   z-index: -1;
// }

.projects {
  grid-row: 1 / 8;
  grid-column: 8 / 10;
}

.about {
  grid-row: 8 / 10;
  grid-column: 3 / 6;
}

.education {
  grid-row: 8 / 10;
  grid-column: 6 / 8;
}

.theme {
  grid-row: 8 / 10;
  grid-column: 8 / 10;
}

.picture {
  object-fit: cover;
  margin-top: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// SLIDERS



.contacts .slider {// contact
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0;
  transform: rotate(-10deg);

  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.contacts .slider2 {
  width: 100%;
  position: absolute;
  top: 250px;
  left: 0;
  transform: rotate(5deg);

  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.contacts:hover {
  .slider,
  .slider2 {
    opacity: 1;
  }
}

.about .slider {// about
  width: 50%;
  position: absolute;
  bottom: 0px;
  left: -25px;
  transform: rotate(30deg);

  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.about .slider2 {
  width: 100%;
  position: absolute;
  bottom: 10px;
  transform: rotate(-25deg);

  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.about:hover {
  .slider,
  .slider2 {
    opacity: 1;
  }
}

.experience .slider {// experience
  width: 50%;
  position: absolute;
  top: 5px;
  right: -10px;
  transform: rotate(30deg);

  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.experience .slider2 {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(5deg);

  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.experience:hover {
  .slider,
  .slider2 {
    opacity: 1;
  }
}

.projects .slider {// projects
  width: 100%;
  position: absolute;
  top: 200px;
  left: 0;
  transform: rotate(5deg);

  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.projects .slider2 {
  width: 110%;
  position: absolute;
  top: 300px;
  left: -10px;
  transform: rotate(-18deg);

  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.projects .slider3 {
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0;
  transform: rotate(5deg);

  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.projects:hover {
  .slider,
  .slider2,
  .slider3 {
    opacity: 1;
  }
}

.theme .slider {// theme
  width: 50%;
  position: absolute;

  bottom: 0;
  left: 0;
  transform: rotate(23deg);

  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.theme:hover {
  .slider {
    opacity: 1;
  }
}

.education .slider {// education
  width: 60%;
  position: absolute;
  right: -10px;
  top: 5px;
  transform: rotate(30deg);

  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.education:hover {
  .slider {
    opacity: 1;
  }
}

.navarrow {
  display: flex;
  position: relative;
  height: 30px;
  width: 30px;
  transition: translate 0.2s;
  animation: navarrowAnimation 0.3s;

  svg {
  background-color: var(--color-bg-secondary);
  border-radius: var(--border-radius-regular);
  }
}

// NAVIGATION BAUTTONS
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.experience:hover,
.projects:hover,
.about:hover,
.education:hover {
    .navarrow {
      translate: 1px 8px;
    }
    .navarrow::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: var(--border-radius-regular);
      opacity: 0.8;
      background-image: conic-gradient(from var(--angle),var(--color-text-secondary), transparent, var(--color-text-secondary), transparent, var(--color-text-secondary));
      left: -2px;
      top: -2px;
      padding: 2px;
      z-index: -1;
      animation: spin 5s linear infinite;
    }

    .navarrow:hover::before {
      animation: spin 1s linear infinite;
    }
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@keyframes navarrowAnimation {
  0% {
      transform: translateX(-20px);
      opacity: 0;
  }
  100% {
      opacity: 1;
      transform: none;
  }
}

/* Enable hover only on non-touch devices
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
} */
