.background {
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}
// Bottom-left animation
.bottom {
    overflow: hidden;
    position: fixed;
    height: 100vh;
    width: 100vw;
    bottom: -50vh;
    left: -50vw;
    background-color: var(--color-neon-pink);
    border-radius: 50%;
}
.bottom-first {
    animation: rotation 62s linear infinite;
}
.bottom-second {
    animation: rotation 42s linear infinite;
}
.bottom-inner {
    position: absolute;
    height: 48vh;
    width: 50vw;
    bottom: -24vh;
    left: -25vw;
    background-color: var(--color-neon-green);
    border-radius: 50%;
    animation: rotation 31s linear infinite;
}
// Top-right animation
.top-first {
    animation: rotation 62s linear infinite;
}
.top-second {
    animation: rotation 42s linear infinite;
}
.top {
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: -50vh;
    right: -50vw;
    background-color: var(--color-neon-red);
    border-radius: 50%;
}
.top-inner {
    position: absolute;
    height: 50vh;
    width: 50vw;
    top: -25vh;
    right: -25vw;
    background-color: var(--color-neon-yellow);
    border-radius: 50%;
    animation: rotation 23s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}